.container {
    width: 100%;
    max-width: 1200px; 
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.datospersonales, .Nombre, .datos {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px;
}

.datospersonales > *, .Nombre > *, .datos > * {
    margin-right: 15px;
}

.datospersonales > :last-child, .Nombre > :last-child, .datos > :last-child {
    margin-right: 0;
}


label {
    margin-right: 10px; 
    font-weight: bold;
}
div label {
    margin-right: 20px; 
}

input[type="text"], 
input[type="tel"], 
input[type="email"], 
select {
    flex: 1; 
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
}
.field-group label {
    display: block; 
    margin-bottom: 10px; 
}

.field-group select {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

.field-group {
    margin-bottom: 20px; 
}

input[type="submit"] {
    background-color: #007BFF;
    color: #ffffff;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 25px;
    display: block;
    width: 20%;
    text-align: center;
    font-size: 18px;
}
input[type="submit"] {
    margin: auto; 
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .datospersonales, .Nombre, .datos {
        flex-direction: column; 
        align-items: stretch; 
    }

    .datospersonales > *, .Nombre > *, .datos > * {
        margin-right: 0; 
        margin-bottom: 10px; 
    }

    input[type="text"], 
    input[type="tel"], 
    input[type="email"], 
    select {
        margin-left: 0; 
    }

    input[type="submit"] {
        width: 100%; 
    }
}

@media (max-width: 480px) {
    .container {
        margin: 20px auto;
    }

    label {
        font-size: 14px; 
    }

    input[type="text"], 
    input[type="tel"], 
    input[type="email"], 
    select {
        font-size: 14px;
    }
}
